[Unit]
Description=pledge task service
After=mysql.service
StartLimitBurst=5
StartLimitIntervalSec=20 
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/ubuntu/codespace/pledge-backend/schedule/pledge_task
[Install]
WantedBy=multi-user.target

