[Unit]
Description=pledge task service
After=mysql.service
StartLimitBurst=5
StartLimitIntervalSec=60
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/ubuntu/codespace/pledge-backend/schedule/pledge_task
Environment="PATH=/etc/systemd/pledge.env"
[Install]
WantedBy=multi-user.target

